@model OrderViewModel


@{
    ViewData["Title"] = "Add Order";
}

<h2>Add Order</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>Unable to save order</strong>
        @Html.ValidationSummary()
    </div>
}

<form method="post" class="form-card">
    <div class="form-group">
        <label asp-for="Id">Order ID</label>
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control", placeholder = "e.g. 1" })
        @Html.ValidationMessageFor(m => m.Id)
    </div>
    <div class="form-group">
        <label asp-for="Id">Customer ID</label>
        @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", placeholder = "e.g. 1" })
        @Html.ValidationMessageFor(m => m.Id)
    </div>

    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        @Html.TextBoxFor(m => m.Amount
            , new { @class = "form-control", placeholder = "e.g 5000" })
        @Html.ValidationMessageFor(m => m.Amount
        )
    </div>

    <div class="form-actions">
        <button type="submit" class="btn-primary">Save</button>
        <a asp-action="Index" class="btn-secondary">Cancel</a>
    </div>
</form>
